body {
	background-color: #D2EAED;
}

header {
	background-color: #35848E;
	font-size: 50px;
	
	color: #FFFFFF;
	padding-bottom: 40px;
	text-align: center;
	/*width: 500 px;
	margin: 0 auto;*/
}

#question {
	font-size: 30px;
	font-family: Galvji;
	color: #1D4A50;
	text-align: center;
}
