body {
	background-color: #D2EAED;
}

header {
	background-color: #35848E;
	font-size: 70px;
	padding: 25px;
	color: #FFFFFF;
	line-height: 20px;

	/*padding-bottom: 40px;*/
	text-align: center;
	/*width: 500 px;
	margin: 0 auto;*/
}

#whats {
	font-family:Moonbright Demo;
}

#good {
	font-family:Sunrise International Demo;
}

#main {
	text-align: center;
}

#question {
	font-size: 15px;
	font-family: Galvji;
	color: #1D4A50;
	text-align: center;
}

#myRecentActivity{
	padding: 15px;
	width: 325px;
	height: 40px;
	background-color: #72BEC7;
	font-size: 30px;
	font-family: Galvji;
	color: #FFFFFF;
}

#submitButton {
	font-family: Galvji;
	background-color: #72BEC7;
	color: white;
	border-radius: 5px;
	border-color: #FFFFFF;
	padding: 3px;
	margin-top: 5px;
}
